@model OrderCreateUpdateVm

<h4>Заказ № @Model.Id</h4>

<div class="my-4">
    <div class="my-4">
        @await Html.PartialAsync("_AddArticleModal", Model)
    </div>
    <form asp-action="Update" asp-route-id="@Model.Id">
        @await Html.PartialAsync("_AddedArticles", Model)
        <div class="my-4">
            <a class="btn btn-secondary" asp-action="Index">К списку заказов</a>
            <button id="saveBtn" class="btn btn-primary" type="submit" disabled>Сохранить заказ</button>
        </div>
    </form>
</div>

<script src="~/scripts/buttonState.js"></script>
<script>
    changeBtnState(@Model.HasChanges.ToString().ToLower());
</script>
